<div class="comments-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h1> Comments </h1>
        <% comments.each_node do |comment| %>
          <%= erb :comment, locals: { comment: comment } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
