<article>
 <div class="container">
   <div class="row">
     <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
       <h2 class="section-heading">
        <%= post.title %>
        </h2>
        <div>
          <%= post.body %>
        </div>
        <div class="post-preview show">
          <%= erb :meta, locals: { post: post } %>
        </div>
     </div>
   </div>
 </div>
 <%= erb :comments, locals: { comments: post.comments } %>
</article>
